@import 'reset.css';

/* 모바일에 최적화된 CSS 코드 */
@media (max-width: 767px) {
    .page {
        position: relative;
        height: 100vh;
        overflow: auto;
    }

    .background {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url('./assets/background.png');
        background-size: cover;
        background-position: center;
        z-index: -1;
    }

    .content {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: 'Press Start 2P', cursive;
        font-size: 12px;
        position: relative;
        z-index: 1;
        text-align: center;
        padding: 0 20px;
        top: 9.5rem;
        color: #fff;
    }

    .content-header {
        position: fixed;
        top: 3.5rem;
        z-index: 1;
        width: 23.5rem;
    }

    .order-list {
        position: sticky;
        width: 90%;
        padding: 0 30px;
        top: 9rem;
        height: calc(100vh - 9rem);
        overflow-y: auto; 
    }

    .title {
        color: #000000;
        font-size: 20px;
    }

    #separation {
        margin-top: 10px;
        margin-bottom: 15px;
    }

    button {
        font-family: 'Press Start 2P';
        font-size: 1rem;
        color: #000000;
        padding: 0 auto;
        background-color: #BFBFBF !important;
        border-top: 2px solid #FFFFFF;
        border-left: 2px solid #FFFFFF;
        border-bottom: 2px solid #5E5E5E;
        border-right: 2px solid #5E5E5E;
    }

    .search-wrap {
        padding-top: 5px;
        display: flex;
        justify-content: center;
    }

    #search-input {
        height: 1.3rem;
        width: 12rem;
        border-width: 2px !important;
        border-style: ridge !important;
        border-color: #8A8A8A #FFFFFF #FFFFFF #8A8A8A !important;
    }

    #search-input:focus {
        outline: none;
    }

    #search-button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 6rem;
        font-size: 13px;
        border-top: 1px solid #E5E5E5;
        border-left: 1px solid #E5E5E5;
        border-bottom: 1px solid #5E5E5E;
        border-right: 1px solid #5E5E5E;
        box-shadow: inset 1px 1px 0 #FFFFFF, inset -1px -1px 0 #8A8A8A;
    }

    #search-button.active {
        border-top: 1px solid #5E5E5E;
        border-left: 1px solid #5E5E5E;
        border-bottom: 1px solid #E5E5E5;
        border-right: 1px solid #E5E5E5;
        box-shadow: inset -1px -1px 0 #FFFFFF, inset 1px 1px 0 #8A8A8A;
    }

    .order-container {
        display: flex;
        flex-direction: column;
        margin-bottom: 10rem;
    }

    .order-box {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
        padding: 10px;
        border-top: 2px solid #E5E5E5;
        border-left: 2px solid #E5E5E5;
        border-bottom: 2px solid #000000;
        border-right: 2px solid #000000;
        box-shadow: inset 2px 2px 0 #FFFFFF, inset -2px -2px 0 #818181;
        color: #000000;
        background-color: #BFBFBF;
    }

    .order-info {
        display: flex;
        justify-content: space-between;
    }

    .order-user-info {
        display: flex;
        flex-direction: column;
    }

    .order-time {
        display: flex;
        padding-bottom: 5px;
    }

    .phone-number {
        display: flex;
    }

    .table-number {
        display: flex;
        justify-content: right;
    }

    .food-info {
        display: flex;
        padding: 0 3rem;
        font-size: 1rem;
        margin-top: 1rem;
    }

    .order-table-info {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .order-number {
        margin-top: 2px;
        display: flex;
        padding: 3px 0;
    }

    .menu-wrap {
        display: flex;
    }

    .food-name {
        width: 10em;
        margin-top: 3px;
    }

    .food-quantity {
        width: 3.5rem;
        margin-top: 7px;
    }

    .in-progress-wrap {
        display: flex;
        justify-content: center;
    }

    .in-progress {
        margin-top: 1.5rem;
        padding: 3px 0;
        width: 10rem;
        display: flex;
        flex-direction: column;
        font-size: 15px;
        align-items: center;
        border-top: 1px solid #FFFFFF;
        border-left: 1px solid #FFFFFF;
        border-bottom: 1px solid #8A8A8A;
        border-right: 1px solid #8A8A8A;
        background-color: #BFBFBF;
    }
}