{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/admin/style.css' %}" />
    <title>관리자 페이지</title>
</head>
<body>
    <div class="page">
        <div class="background"></div>
        <div class="content">
            <div class="button-wrap">
                <button class="order-button" id="menu-state-button">메뉴</button>
                <button class="order-button" id="in-progress-order-button">진행중인 주문</button>
                <button class="order-button" id="complete-order-button">완료 주문</button>
            </div>
            <div class="order-container"></div>
            <div class="completed-order-container"></div>
        </div>
    </div>

    <script type = "text/javascript">const data = {{queryset_json|safe}};</script>
    <script type="text/javascript" src="{% static 'js/admin/admin.js' %}"></script>
</body>
</html>
