{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/order_search/style.css' %}" />
    <title>주문내역 검색</title>
</head>
<body>
    <div class="page">
        <div class="background"></div>
        <div class="content">
            <div class="button-wrap">
                <input id = "keyword" type = "text" name = "keyword">
                <button id = "search_button" class="order-button" onclick = "">search</button>

            </div>
            <div class="order-container"></div>
        </div>
    </div>

    <script type="text/javascript" src="{% static 'js/order_search/order_search.js' %}"></script>
</body>
</html>
