{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    <title>skrrrr.exe</title>
</head>
<body>
    <div class="background">
        <div class="menu_wrap" style="font-family: 'Press Start 2P'; flex-direction: column; padding-left: 0;">
            <div class="complete_total">total <div id = "total_price" class="box" style="width:200px"></div></div>
            <div style="margin: 50px auto 0px auto;">
                카카오뱅크 <br>
                7979-79-88793 <br>
                (신유정)
            </div>
            <div class="complete_pop">
                <div class="message" style="margin-top: 50px; font-size: 14px; margin-bottom: 15px;">
                    위 금액을 송금 완료 하셨나요?
                </div>
                <button class="complete_button" onclick="pay_yes();">계좌이체 완료❤️</button>
                <button class="complete_button" onclick="pay_no();">주문 안 할게요</button>
            </div>
        </div>
    </div>

</body>
<script type="text/javascript" src="{% static 'js/complete.js' %}"></script>
</html>
