{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    <title>skrrrr.exe</title>
</head>
<body>
    <div class="background">
        <div class="menu_wrap" style="font-family: 'Press Start 2P';">
            주문이 완료 되었습니다.
            <button class="add_button" onclick="window.open('/index.html')"> 처음으로 돌아가기 </button>
        </div>
        
    </div>

</body>
<script type="text/javascript" src="{% static 'js/index.js' %}"></script>
</html>
